<div>
    <h1>Composer Packages</h1>
    <button mat-icon-button color="primary" aria-label="Add package button" (click)="addPackage()">
        <mat-icon aria-hidden="false" aria-label="Add package icon" fontIcon="add"></mat-icon>
    </button>
</div>
<table>
    <ng-container *ngFor="let pkg of (packages$ | async)?.data">
      <tr>
        <td>{{ pkg.name }}</td>
        <td>{{ pkg.version }}</td>
        <td>{{ pkg.type }}</td>
        <td>
          <button mat-button class="edit" aria-label="Edit package" (click)="editPackage(pkg)">
            <mat-icon aria-hidden="false" aria-label="Edit icon" fontIcon="edit"></mat-icon>
          </button>
        </td>
        <td>
          <button mat-button class="delete" aria-label="Delete package" (click)="deletePackage(pkg)">
            <mat-icon aria-hidden="false" aria-label="Delete icon" fontIcon="delete"></mat-icon>
          </button>
        </td>
      </tr>
      <tr *ngFor="let source of pkg.sources">
        <td>{{ source.reference }}</td>
        <td>{{ source.type }}</td>
        <td>{{ source.url }}</td>
      </tr>
    </ng-container>
</table>
