<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button [routerLink]="['/']">Admin</a>
  <span class="example-spacer"></span>
  <a mat-button [routerLink]="['blog']">Blog</a>
  <a mat-button [routerLink]="['composer']">Composer</a>
  <a mat-button [routerLink]="['drinks']">Drinks</a>
  <a mat-button [routerLink]="['messages']">Messages</a>
  <a mat-button [routerLink]="['quotes']">Quotes</a>
  <a mat-button [routerLink]="['reminders']">Reminders</a>
  <a mat-button [routerLink]="['restaurants']">Restaurants</a>
  <a mat-button [routerLink]="['resume']">Resume</a>
</mat-toolbar>
