header {
  background-image: url("/assets/michael-j-miller-xl.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -120px;
  background-size: 100% auto;
  background-attachment: fixed;
  color: white;
  width:100%;
  height:100vh;
}
