
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Jquery-UI themes
@import '~jquery-ui/themes/base/all.css';

ol.orders {
    font-size: 24px;

    div {
        font-size: 14px;
    }
}

form.inline {
    display: inline-block;
}

a.glyphicon {
    text-decoration: none;
}

.glyphicon-plus::before {
    color: $add-color;
}

.glyphicon-edit::before {
    color: $edit-color;
}

.glyphicon-trash::before {
    color: $delete-color;
}

.center {
    text-align: center;
}

.form-horizontal .control-label {
    text-align: left;
}
