
footer {
  background-color: black;
  color: white;
  display: flex;
  padding: 20px;

  & > div {
    display: inline-block;
    margin: auto;
  }
}
a {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.social a {
  color: grey;
  &:hover {
    color: grey;
  }
}
