@mixin round-right($size) {
    border-top-right-radius: $size;
    border-bottom-right-radius: $size;
}

@mixin header($img) {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url('https://michaeljmiller.net/storage/'+$img);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: -140px;
    color: white;

    background-position-y: 0;
    background-position-x: right;
    background-size: cover;
}