// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';

// Variables
@import 'mixins';

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Footer
@import 'footer';

html {
    overflow-x: hidden;
}

header {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url('https://michaeljmiller.net/storage/resume.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: -140px;
    color: white;

    @include media-breakpoint-down(xxl) { background-position-y: -120px; }
    @include media-breakpoint-down(xl)  { background-position-y: -95px; }
    @include media-breakpoint-down(lg)  { background-position-y: -70px; }
    @include media-breakpoint-down(md)  { background-position-y: -50px; }
    @include media-breakpoint-down(sm)  { background-position-y: -30px; }
    
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    a, a.nav-link:hover {
        color: white;
    }
    
    i {
        display: block;
        font-size: 5rem;
        background: grey;
        border-radius: 30px;
        width: 8rem;
        text-align: center;
    }
}
