@import 'global';

// Mixins
@import 'mixins';

header {
    
    @include header('resume.png');
    
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    a, a.nav-link:hover {
        color: white;
    }
    
    i {
        display: block;
        font-size: 5rem;
        background: grey;
        border-radius: 30px;
        width: 8rem;
        text-align: center;
    }
}
