@import 'global';

// Mixins
@import 'mixins';

header {
    @include header('michael-j-miller-xl.png');

    #comment {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(50% - 20px);
        margin: auto 0;
        padding: 0 20px;
        background-color: rgba(86, 86, 86, .75);
        min-height: 25%;
    
        @include round-right(20px);
    }
}

