<form [formGroup]="quoteForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Resource</label>
    <angular-editor formControlName="quote" ngDefaultControl></angular-editor>
  </div>
  <mat-form-field>
    <mat-label>Resource</mat-label>
    <input matInput formControlName="resource" placeholder="Resource">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Active</mat-label>
    <input matInput formControlName="active" placeholder="Active">
  </mat-form-field>
  <button type="submit">Send</button>
</form>
