<form [formGroup]="quoteForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Quote</mat-label>
        <input matInput formControlName="quote" placeholder="Quote">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Source</mat-label>
        <input matInput formControlName="source" placeholder="Source">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Active</mat-label>
        <input matInput formControlName="active" placeholder="Active">
    </mat-form-field>
    <button type="submit">Send</button>
</form>
