@mixin fade($attr, $time) {
    transition: $attr $time ease-in-out;
}

@mixin screen-size($size) {
    @media (min-width: $size) {
        @at-root & {
            @content
        }
    }
}

@mixin header($cls, $img) {
    &.#{$cls} header {
        background: url($img) no-repeat;
        background-size: 100% auto;
        max-height: header_height(#{$cls});
    }
}

@mixin border-radius($rad) {
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    border-radius: $rad;
}
