@mixin fade($attr, $time) {
    transition: $attr $time ease-in-out;
}

@mixin screen-size($size) {
    @media (min-width: $size) {
        @at-root & {
            @content
        }
    }
}

@mixin headers($img) {
    background: url($img) no-repeat;
    background-size: 100% auto;
}

@mixin border-radius($rad) {
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    border-radius: $rad;
}
