// Mixins
@import "mixins";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:300,400,600');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Header
header {
    height: $header-height;
    background: url("/storage/me.png") no-repeat;
    background-size: 100% auto;
    color: white;

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 400%;
    }

    a {
        color: white;
        @include fade('color', '.2s')

        &:hover {
            color:white;
        }
    }

    .nav {
        &:hover > li > a {
                color: $header-hover-color;
                @include fade('color', '.2s')
        }

        & > li > a {
            &:hover, &:active {
                background-color: transparent;
                @include fade('color', '.2s')
                color: white;
            }
        }
    }
}
// END HEADER

div.divider {
    padding: 44px;
    height:44px;

    hr {
        border-top: thin solid $text-color;
        margin: 0;
    }
    label {
        background-color: inherit;
        margin: 0;
        padding: 0 5px;
        transform:translateY(-22px);
        background-color: $body-bg;
        font-size: 200%;
    }
}

div.section:nth-child(odd) div.divider label {
    background-color: $section-bg-odd;
}

section {
    & > div.section:nth-child(odd), & > div.divider:nth-child(odd) {
        background-color: $section-bg-odd;
    }
}

div.section {
    padding-bottom: 22px;
}

div.intro p {
    margin: auto;
    text-align: center;
    font-size: 200%;
}

div.image-tiles > img {
    display: inline-flex;
    width: 50%;
    float: left;
}

footer {
    clear: both;
    background-color: #26262a;
    color: white;
    text-align:center;
    padding: 20px;
    & > * {
        margin-top: 20px;
    }

    & a, & a:hover {
        color: white;
        text-decoration: none;
    }
}

.center {
    text-align: center;
}

.font-script {
    font-family: 'Dancing Script', cursive;
    font-size: 200%;
}

.nav-buffer {
    margin-top: 200px;
}
