// External libs
@import "~quill/dist/quill.core.css";
@import '~quill/dist/quill.snow.css';

// Mixins
@import "mixins";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:300,400,600');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Body
body {
    max-width: 1280px;
    min-width: 400px;
    margin: auto;

    @include header("home", "/storage/michael-j-miller-xl.png");
    @include header("portfolio", "/storage/portfolio-xl.png");
    @include header("resume", "/storage/resume.png");
    @include header("quotes", "/storage/quote-header.jpg");

    &.quotes header {
        background-size: 100% 100%;
    }

    &.resume div.record {
        margin-top: 22px;
    }
}

// Header
header {
    height: $header-height;
    color: white;

    h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 400%;
    }

    a {
        color: white;
        @include fade(color, .2s);

        &:hover {
            color:white;
        }
    }

    .nav {
        &:hover > li > a {
                color: $header-hover-color;
        }
    }
}
// END HEADER
.navbar-default {
    border: none;
    .navbar-brand, .navbar-nav > li > a {
        &, &:hover, &:focus {
            color: white;
        }
    }
}
// END HEADER

div.divider {
    padding: 44px;
    height:44px;

    hr {
        border-top: thin solid $text-color;
        margin: 0;
    }
    label {
        background-color: inherit;
        margin: 0;
        padding: 0 5px;
        transform:translateY(-22px);
        background-color: $body-bg;
        font-size: 200%;
    }
}

div.section {
    overflow:hidden;
    &:nth-child(odd) div.divider label {
        background-color: $section-bg-odd;
    }
}

section {
    & > div.section:nth-child(odd), & > div.divider:nth-child(odd) {
        background-color: $section-bg-odd;
    }
}

div.section {
    padding-bottom: 22px;

    &.quote {
        p {
            margin: auto;
            text-align: center;
            font-size: 150%;
        }

        i {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 150%;
        }
    }

    &.social {
        svg {
            margin: 0 30px;
        }
    }

    &.resume {
        a {
            svg {
                display:block;
                &.fa-8x {
                    font-size: 4em;
                    @include screen-size($screen-lg-min) {
                        font-size: 8em;
                    }
                }
            }
            margin: 0 5%;
            @include screen-size($screen-lg-min) {
                margin: 0 80px;
            }
        }
    }
}

div.image-tiles {
    overflow:hidden;
    padding-bottom: 0;
    & > img {
        display: inline-flex;
        width: 100%;
        float: left;

        @include screen-size($screen-lg-min) {
            width: 50%;
        }
    }
}

footer {
    clear: both;
    background-color: #26262a;
    color: white;
    text-align:center;
    padding: 20px;
    & > * {
        margin-top: 20px;
    }

    & a, & a:hover {
        color: white;
        text-decoration: none;
    }
}

.portfolio {
    iframe {
        width: 50%;
        height: calc(50vw * 3/4);
    }
    blockquote {
        border: none;
    }
    div.section {
        overflow: hidden;
        p {
            width: 50%;
        }
        &:nth-child(odd) {
            iframe {
                float: left;
            }
            p {
                float: right;
            };
        }
        &:nth-child(even) iframe {
            float:right;
        }
    }
}

.form-horizontal .control-label {
    text-align: left;
}

.bold {
    font-weight:bold;
}

.center {
    text-align: center;
}

.font-script {
    font-family: 'Dancing Script', cursive;
    font-size: 200%;
}

.nav-buffer {
    margin-top: 200px;
}

.navbar-brand {
    padding: 7px 15px;
}

.navbar-center {
    position: static;
    margin: 0 auto;
    float: none;
    display: table;
}

.header-content {
    height: calc(100% - 72px);
    display : flex;
    align-items : center;
    margin:0 50%;
}

.flash-message {
    position: fixed;
    width: 100%;
    z-index: 1;
    p.alert {
        margin: 0;
        @include border-radius(0);
        @include screen-size($screen-lg-min) {
            @include border-radius(4px);
        }
    }
    @include screen-size($screen-lg-min) {
        top: 20px;
        width: 100%;
        p.alert {
            width: 80%;
            margin: 0 auto;
        }
    }
}

.quill-editor {
    height: $quill-height;
}
