
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

a.glyphicon {
    text-decoration: none;
}

.glyphicon-plus::before {
    color: $add-color;
}

.glyphicon-edit::before {
    color: $edit-color;
}

.glyphicon-trash::before {
    color: $delete-color;
}

.center {
    text-align: center;
}
