<div class="frame justify-content-center align-self-center">
  <h1>Michael J. Miller</h1>
  <p class="d-flex justify-content-center"><a [routerLink]="['/home']">ENTER</a></p>
  <p class="d-flex justify-content-center">Or follow me on social media:</p>
  <div class="d-flex justify-content-around">
    <a href="https://github.com/commnerd">
      <fa-icon [icon]="faGithub" class="fa-3x"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/michaeljmiller79">
      <fa-icon [icon]="faLinkedin" class="fa-3x"></fa-icon>
    </a>
    <a href="https://www.facebook.com/michaeljmiller79">
      <fa-icon [icon]="faFacebook" class="fa-3x"></fa-icon>
    </a>
  </div>
</div>
