<div>
  <h1>Employment Records</h1>
  <button mat-icon-button color="primary" aria-label="Add package button" (click)="add()">
    <mat-icon aria-hidden="false" aria-label="Add package icon" fontIcon="add"></mat-icon>
  </button>
</div>
<div *ngIf="!!models?.total">
  <mat-paginator
    [length]="models?.total || 0"
    [pageIndex]="(models?.current_page || 1) - 1"
    [pageSize]="models?.per_page || 0"
    (page)="switchPage($event)"
  ></mat-paginator>
</div>
<table>
  <tr *ngIf="!models?.total">
    <td>No employment records found.</td>
  </tr>
  <ng-container *ngFor="let model of models?.data">
    <tr>
      <td>{{ model.employer }}</td>
      <td>
        <button mat-button class="edit" aria-label="Edit package" (click)="edit(model)">
          <mat-icon aria-hidden="false" aria-label="Edit icon" fontIcon="edit"></mat-icon>
        </button>
        <button mat-button class="delete" aria-label="Delete package" (click)="delete(model)">
          <mat-icon aria-hidden="false" aria-label="Delete icon" fontIcon="delete"></mat-icon>
        </button>
      </td>
    </tr>
  </ng-container>
</table>
<div *ngIf="!!models?.total">
  <mat-paginator
    [length]="models?.total || 0"
    [pageIndex]="(models?.current_page || 1) - 1"
    [pageSize]="models?.per_page || 0"
    (page)="switchPage($event)"
  ></mat-paginator>
</div>
