<div>
  <h1>Drinks</h1>
  <button mat-icon-button color="primary" aria-label="Add quote button" (click)="addDrink()">
    <mat-icon aria-hidden="false" aria-label="Add quote icon" fontIcon="add"></mat-icon>
  </button>
</div>
<div *ngIf="!!models?.total">
  <mat-paginator
    [length]="models?.total || 0"
    [pageIndex]="(models?.current_page || 1) - 1"
    [pageSize]="models?.per_page || 0"
    (page)="switchPage($event)"
  ></mat-paginator>
</div>
<table>
  <tr *ngIf="!models?.total">
    <td colspan="3">No drinks found.</td>
  </tr>
  <tr *ngFor="let drink of models?.data">
    <td>{{ drink.name }}</td>
    <td>
      <button mat-button class="edit" aria-label="Edit quote" (click)="editDrink(drink)">
        <mat-icon aria-hidden="false" aria-label="Edit icon" fontIcon="edit"></mat-icon>
      </button>
    </td>
    <td>
      <button mat-button class="delete" aria-label="Delete quote" (click)="deleteDrink(drink)">
        <mat-icon aria-hidden="false" aria-label="Delete icon" fontIcon="delete"></mat-icon>
      </button>
    </td>
  </tr>
</table>
<div *ngIf="!!models?.total">
  <mat-paginator
    [length]="models?.total || 0"
    [pageIndex]="(models?.current_page || 1) - 1"
    [pageSize]="models?.per_page || 0"
    (page)="switchPage($event)"
  ></mat-paginator>
</div>
