<div>
  <h1>Drinks</h1>
  <button mat-icon-button color="primary" aria-label="Add quote button" (click)="addDrink()">
    <mat-icon aria-hidden="false" aria-label="Add quote icon" fontIcon="add"></mat-icon>
  </button>
</div>
<table>
  <tr *ngIf="!(models$ | async)?.total">
    <td colspan="4">No drinks found.</td>
  </tr>
  <tr *ngIf="!!((models$ | async)?.total)">
    <mat-paginator
      [length]="(models$ | async)?.total || 0"
      [pageIndex]="((models$ | async)?.current_page || 1) - 1"
      [pageSize]="(models$ | async)?.per_page || 0"
      (page)="switchPage($event)"
    ></mat-paginator>
  </tr>
  <tr *ngFor="let drink of (models$ | async)?.data">
    <td>{{ drink.name }}</td>
    <td>
      <button mat-button aria-label="Edit quote" (click)="editDrink(drink)">
        <mat-icon aria-hidden="false" aria-label="Edit icon" fontIcon="edit"></mat-icon>
      </button>
    </td>
    <td>
      <button mat-button aria-label="Delete quote" (click)="deleteDrink(drink)">
        <mat-icon aria-hidden="false" aria-label="Delete icon" fontIcon="delete"></mat-icon>
      </button>
    </td>
  </tr>
  <tr *ngIf="!!((models$ | async)?.total)">
    <mat-paginator
      [length]="(models$ | async)?.total || 0"
      [pageIndex]="((models$ | async)?.current_page || 1) - 1"
      [pageSize]="(models$ | async)?.per_page || 0"
      (page)="switchPage($event)"
    ></mat-paginator>
  </tr>
</table>
