<form [formGroup]="employmentRecordForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Employer</mat-label>
    <input matInput formControlName="employer" placeholder="Employer">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Position</mat-label>
    <input matInput formControlName="position" placeholder="Position">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location</mat-label>
    <input matInput formControlName="location" placeholder="Location">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="start_date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="start_date"></mat-datepicker-toggle>
    <mat-datepicker #start_date></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="end_date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="end_date"></mat-datepicker-toggle>
    <mat-datepicker #end_date></mat-datepicker>
  </mat-form-field>
  <angular-editor formControlName="bullets" ngDefaultControl></angular-editor>
  <div>
    <button mat-raised-button type="submit">Send</button>
  </div>
</form>
